<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.o2.simplebus"
      android:versionCode="2"
      android:versionName="0.02">
    <application android:icon="@drawable/icon" android:label="@string/app_name"
    android:name="com.o2.simplebus.SimpleBusApplication" >
        <activity android:name="com.o2.simplebus.activity.HomeActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

	<activity android:name="com.o2.simplebus.activity.BusTrackingActivity" 
			/>

    </application>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    
<uses-permission android:name="android.permission.INTERNET"></uses-permission>
   


</manifest> 


